In [16]:
def is_symmetrical_num(n):
  return str(n) == str(n)[::-1]

In [18]:
print(is_symmetrical_num(58685))

True

In [19]:
print(is_symmetrical_num(58675))

False

In [28]:
def funv(lis):
    s = lis.split(',')
    sum = 1
    for i in s:
        sum*=int(i)
    print(sum)

In [29]:
funv('2,3,4,5')

120

In [30]:
funv('2,3,4,58')

1392

In [31]:
funv('22,33,44,55')

1756920

In [59]:
def sq(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

In [60]:
sq(9119)

811181

In [79]:
lis = [1,2,3,4,5,2,6,2,1]
lis.sort()
lis = set(lis)
print(lis)

{1, 2, 3, 4, 5, 6}

In [125]:
import numpy as np
def func(num):
    print(np.mean(num))

In [128]:
num = 1234
num = [int(i) for i in str(num)]
func(num)

2.5